@import '../../../../variables.scss';

.film-option {
    align-items: center;
    height: 48px;

    &:hover {
        background: $letter-box-black;
        color: $movie-gold;
    }

    &:hover > .cart {
        background-image: url('../../../../assets/gold-cart.png');
    }
}

.cart {
    background-image: url('../../../../assets/cart.png');
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}
