@import '../../../../variables.scss';

.film-list-widget {
    width: 752px;
    position: relative;
    top: 424px;
    
    padding-left: 96px;
    padding-right: 96px;
    
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(24, 17, 3, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(24, 17, 3, 0.2);
    border-radius: 4px;
}


.widget-title {
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1.5px;
    margin-top: 32px;
    margin-bottom: 52px;
}

.section-label {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: $dream-catcher-gray;
    margin-bottom: 24px;

    & strong {
        color: $letter-box-black;
    }
}
