@import '../../../../variables.scss';

.cinema-option {
    height: 40px;

    align-items: center;
    text-align: center;

    &.selected {
        background-color: $movie-gold;
        border-color: $movie-gold;
    }

    &:hover {
        background-color: $movie-gold;
    }
}