.select-label {
    font-family: Futura PT;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    letter-spacing: 0.5px;
    text-transform: uppercase;

    /* Black / 400 */

    color: rgba(9, 9, 9, 0.6);
}